.container{
	background: url('images/white-leather-texture-1945.png') repeat ;
}
.banner {
	background: url('images/banner.jpg') no-repeat;
	width: 100%;
	height: 200px;
	position: relative;
}
main {
	font-family: "Droid Sans", sans-serif;	
}
h1 {
	font-family: "PT Serif", serif;
	font-size: 50px;
	color : #DA5C65;
	text-align: center;
}
h2 {
	font-family: "PT Serif", serif;
	font-size: 25px;
	color: #DA5C65; 
	text-align: left;
}
.text {
	float: right;
}
img {
	border: 5px solid #DA5C65;
}
.button {
	font-family: "Droid Sans", sans-serif;
	font-size: 16px;
	background-color: #D46A6A;
	color: white;
	padding: 8px 20px 5px 20px;
	display: inline-block;
	margin-left: 180px;
	border-radius: 4px;
}