body {
	background: url('images/white-leather-texture-1945.png') repeat ;
}
.container-fluid {
	position: center;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.banner {
	height: 250px;
	width: 100%;
}
.main {
	font-family: "Droid Sans", sans-serif;	
	@media(max-width:767px;){
		display: inline-block;
	}
}
.main .col img {
	width: 50%;
	height: 350px;
	border: 2px solid #fff;
}
.header {
	font-family: "PT Serif", serif;
	color: #DA5C65;
	grid-area: center;
	padding-top: 25px;
	font-size: 50px;
	.sub-title {
		font-size: 25px;
	}
}	
.post{
	display: flex;
	flex-direction: left;
	padding-bottom: 10px;
}
p {
	border: .5px solid #fff;
	background-color: #c2b4b4;
	line-height: 34px;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a:hover {
	color: black;
	text-decoration: none;
	transition-property: background;
	background-color: transparent;
}
.button {
	text-decoration: none;
	font-family: "Droid Sans", sans-serif;
	font-size: 16px;
	background-color: #D46A6A;
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
}









